fastapi
uvicorn
transformers
torch
spacy
pydantic
pydantic-settings
sentence-transformers
sqlalchemy
asyncpg
google-genai

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz